/* styles.css */

body {
	background-color: #e41f2c;
	font-family: Georgia, 'Times New Roman', Times, serif
}
.backgroundImage {
	background-image: url(../img/chapter3_coke.png);
	width: 300px;
	height: 300px;
	margin: 50px auto;
}
.backgroundImage:hover {
	background-image: url(../img/chapter3_bottle.png);
	cursor: crosshair;
}
.text {
  display: block;
  width: 50%;
  margin: 60px auto;
}
h1 {
  color: #fff8ff;
  font-size: 85px;
  text-align: center;
  font-family: "Style Script", cursive;
  font-weight: 500;
  font-style: normal;
}
.text * {
  display: inline-block;
  width: 48%;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
h2 {
  color: #fff8ff;
  font-size: 42px;
  text-align: left; 
  font-family: "DM Serif Display", serif;
  font-weight: 550;
  font-style: bold;
}
h3 {
  font-size: 29px;
  text-align: right;
  font-family: "DM Serif Display", serif;
  font-weight: 550;
  font-style: bold;
}
h3 a:link,
h3 a:visited {
  color: #fff8ff;
  text-decoration: none;
}
h3 a:hover {
  color: #0000FF;
  text-decoration: underline;
}